@{
    ViewData["Title"] = "Menú Principal";
}


<div class="text-center bg-white mt-5 p-4 shadow-lg">
    <h1 class="fw-bold">Gestion de restaurante</h1>
    <p class="lead">Accede a los diferentes módulos del sistema</p>
</div>

<div class="">
<div class="container mt-5">
    <div class="row g-3">
        <div class="col-md-3">
            <div class="card text-center border-0 shadow-lg h-100">
                <div class="card-body">
                    <i class="bi bi-people-fill display-4 text-primary mb-3"></i>
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Gestión de clientes registrados.</p>
                    <a asp-controller="Users" asp-action="Index" class="btn btn-primary w-100">Acceder</a>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card text-center border-0 shadow-lg h-100">
                <div class="card-body">
                    <i class="bi bi-person-badge-fill display-4 text-success mb-3"></i>
                    <h5 class="card-title">Meseros</h5>
                    <p class="card-text">Gestión de personal mesero.</p>
                    <a asp-controller="Waiters" asp-action="Index" class="btn btn-success w-100">Acceder</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center border-0 shadow-lg h-100">
                <div class="card-body">
                    <i class="bi bi-bag-fill display-4 text-warning mb-3"></i>
                    <h5 class="card-title">Pedidos</h5>
                    <p class="card-text">Gestión de pedidos</p>
                    <a asp-controller="Orders" asp-action="Index" class="btn btn-warning w-100">Acceder</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center border-0 shadow-lg h-100">
                <div class="card-body">
                    <i class="bi bi-receipt-cutoff display-4 text-danger mb-3"></i>
                    <h5 class="card-title">Reservas</h5>
                    <p class="card-text">Gestión de reservas.</p>
                    <a asp-controller="Reservations" asp-action="Index" class="btn btn-danger w-100">Acceder</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

