@model TestMVC.ViewModel.OrderC

<h2 class="mt-5">Detalles de la orden</h2>

<ul class="list-group mb-3">
    <li class="list-group-item"><strong>ID:</strong> @Model.Users.</li>
    <li class="list-group-item"><strong>Nombre:</strong> @Model</li>
    <li class="list-group-item"><strong>Apellido:</strong> @Model</li>
    <li class="list-group-item"><strong>Correo:</strong> @Model</li>
</ul>

<a asp-controller="Users" asp-action="Index" class="btn btn-info">Volver</a>