@model TestMVC.Models.Order

<h2 class="mt-5">Detalles de la orden</h2>

<ul class="list-group mb-3">
    <li class="list-group-item"><strong>ID:</strong> @Model.Id</li>
    <li class="list-group-item"><strong>Order Number:</strong> @Model.OrderNumber</li>
    <li class="list-group-item"><strong>Fecha:</strong> @Model.Date</li>
    <li class="list-group-item"><strong>Cliente:</strong> @Model.IdClient</li>
</ul>

<a asp-controller="Orders" asp-action="Index" class="btn btn-info">Volver</a>